* {
  all: unset;
  border: none;
  border-radius: 4;
  font-size: 12px;
  min-height: 0;
  font-family: HackNerdFont;
}

window#waybar {
  background-color: #32302f; 
  opacity: 0.95;
  border-bottom: 2px solid rgba(224, 236, 248, 255);
  color: rgba(224, 236, 248, 255);
}

#workspaces button {
    padding: 0px 10px 0px 10px;
    background-color: transparent;
  margin: 0px 0px 2px 0px;
}

#workspaces button.active {
  background-color: #ffffff;
  color: #32302f; 
}

#custom-spotify{
  padding: 0px 10px 0px 10px;
  margin-bottom: 2px;
}

#pulseaudio{
  padding: 0px 10px 0px 10px;
  margin-bottom: 2px;
}

#network {
  padding: 0px 10px 0px 10px;
  margin-bottom: 2px;
}

#battery {
  padding: 0px 10px 0px 10px;
  margin-bottom: 2px;
}

#clock{
  padding: 0px 10px 0px 10px;
  margin-bottom: 2px;
}



