* {
  all: unset;
  border: none;
  border-radius: 4;
  font-size: 12px;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  margin: 0px 0px 1px 0px;
}

window#waybar {
  background-color: #32302f; 
  opacity: 0.95;
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
}

#workspaces button {
    padding: 0px 10px 0px 10px;
    background-color: transparent;
}

#workspaces button.active {
  background-color: #ffffff;
  color: #32302f; 
}

#custom-spotify{
  padding: 0px 10px 0px 10px;
}

#pulseaudio{
  padding: 0px 10px 0px 10px;
}

#network {
  padding: 0px 10px 0px 10px;
}

#battery {
  padding: 0px 10px 0px 10px;
}

#clock{
  padding: 0px 10px 0px 10px;
}



