@import "colors.css";

* {
  background-color: transparent;
  font-family: "RobotoMono Nerd Font", "Noto Sans Symbols 2", monospace;
  font-size: 15px;
  font-weight: bold;
  border: none;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  background-color: @background;
  padding: 0;
  margin: 0;
  border: 0px solid @primary;
  border-radius: 0px;
}

#workspaces button,
#clock,
#network,
#pulseaudio,
#custom-salah,
#tray {
  min-width: 24px;
  min-height: 24px;
  padding: 4px;
  margin: 4px 3px;

  background-color: @surface_container;
  border: 0px;
  border-radius: 6px;
}

#clock,
#pulseaudio,
#network,
#custom-salah {
  color: @primary;
}

#pulseaudio.muted {
  color: @background;
  background-color: @primary;
}

#workspaces {
  background: transparent;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  opacity: 1;
}

#workspaces button {
  color: @primary;
  opacity: 0.5;
  transition: none;
}

#workspaces button:hover {
  background-color: @surface;
  border-radius: 6px;
}

#workspaces button.active {
  color: @on_primary;
  background-color: @primary;
  opacity: 1;
  transition: none;
}

#tray {
  padding: 4px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background: @error_20;
  border-radius: 4px;
}

tooltip {
  background: @background;
  border: 1px solid @surface_container;
  border-radius: 8px;
  color: @on_surface;
}
